.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--primary-color);
  height: 60px;
}

.container-hamburger{
  display: block;
  height: 26px;
  width: 40px;
  position: relative;
}
#hamburger{
  display: block;
  height: 26px;
  width: 40px;
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}
#hamburger.open{
  z-index: 11;
  position: absolute;
  top: 15px;
  left: 80vw;
}
#hamburger span,
#hamburger span:before,
#hamburger span:after{
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  left: 0;
  transition: .3s;
}
#hamburger span:before{
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
#hamburger span:after{
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
}
#hamburger.open span{
  background-color: transparent;
}
#hamburger.open span:before{
  transform: translateY(-50%) rotate(45deg);
}
#hamburger.open span:after{
  top: 0;
  transform: translateY(-50%) rotate(-45deg);
}

.header p{
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
}

.container-navigation{
  position: absolute;
  width: 100%;
  left: -100%;
  top: 0;
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 10;
  transition: .3s;
}
.container-navigation.open{
  left: 0;
}

nav{
  margin-top: 3rem;
}

header ul{
  padding: 0 1rem;
}

header nav a {
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  color: var(--white-color);
}